@model EmpregadoViewModel

<div class="row">
    <div class="col-md-12 form-group">
        <h2>Deseja deletar este item?</h2>
    </div>
</div>

<form method="post" asp-action="Delete" asp-antiforgery="true" asp-controller="Empregado">
    <vc:botao-default controller-name="Empregado" tipo-tela="Deletar"></vc:botao-default>
    <vc:summary />

    <div class="row">
        <div class="col-md-1 form-group">
            <label asp-for="Codigo"></label> @Model.Codigo
        </div>
        <div class="col-md-5 form-group">
            <label asp-for="Nome"></label> @Model.Nome
        </div>
        <div class="col-md-2 form-group">
            <label asp-for="Cpf"></label> @Model.Cpf
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Email"></label> @Model.Email
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="TelResidencial"></label> @Model.TelResidencial
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="TelCelular"></label> @Model.TelCelular
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="DataNasc"></label> @Model.DataNasc
        </div>
    </div>
</form>

