@model IEnumerable<EmpregadoViewModel>

<div class="row">
    <div class="col-md-12 form-group">
        <h2>Lista de Empregados</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <a class="btn btn-primary" asp-controller="Empregado" asp-action="Create">Novo</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @LabelResource.LBL_CODIGO
                </th>
                <th>
                    @LabelResource.LBL_NOME
                </th>
                <th>
                    @LabelResource.LBL_EMAIL
                </th>
                <th>
                    @LabelResource.LBL_TEL_RESIDENCIAL
                </th>
                <th>
                    @LabelResource.LBL_TEL_CELULAR
                </th>
                <th>
                    @LabelResource.LBL_DATA_NASC
                </th>
                <th>
                    @LabelResource.LBL_SETOR
                </th>
                <th>
                    @LabelResource.LBL_ACOES
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Codigo
                    </td>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.TelResidencial
                    </td>
                    <td>
                        @item.TelCelular
                    </td>
                    <td>
                        @item.DataNasc
                    </td>
                    <td>
                        @item.Setor.Nome
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Codigo">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>





